.mat-drawer-container {
  width: 70%;
  margin: 0 auto;
  .mat-card-header {
    margin-bottom: 20px;
    .header-text-wrapper {
      margin-right: 30px;
    }
    .mat-card-actions {
      margin-bottom: 0;
    }
  }
  .mat-card-title {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .avatar-container {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .user-avatar {
    border: 1px solid black;
    width: 250px;
    border-radius: 100%;
  }
  .mat-card-content {
    font-size: 14px;
    p .content-header {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

